*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #181a1b;
}
.glava{
	height: 150px;
	background-color: #2e3334;
	width: 200px;
	border: 1px solid black;
	border-radius: 15px;
	margin: 0 auto;
	padding: 20px;
}
#logo{
	height: 100px;
	width: 100px;
	border: 1px solid black;
	border-radius: 100px;
	margin: 0 auto;
	background-image: url("/slike/profilna.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-position: 0px 0px; 
	border: 3px solid black;
}
h3{
	text-align: center;
	color: white;
	font-size: 24px;
}
h5{
	text-align: center;
	color: white;
	font-size: 15px;
}
.GitHub{
	height: 80px;
	width: 800px;
	background-color: #2e3334;
	border: 1px solid black;
	border-radius: 15px;
	margin: 0 auto;
	margin-top: 20px;
	align-content: center;
}
#logoGitHub{
	display: inline-block;
	height:35px;
	width:35px;
	background-image: url("/slike/Github.png");
	border-radius: 100px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-position: -13px 0px;
	margin-left: 15px;
}
.X{
	height: 80px;
	width: 800px;
	background-color: #2e3334;
	border: 1px solid black;
	border-radius: 15px;
	margin: 0 auto;
	margin-top: 20px;
	align-content: center;
}
#logoX{
	display: inline-block;
	height:35px;
	width:35px;
	background-image: url("/slike/x.png");
	border-radius: 1px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin-left: 17px;
}

.YT{
	height: 80px;
	width: 800px;
	background-color: #2e3334;
	border: 1px solid black;
	border-radius: 15px;
	margin: 0 auto;
	margin-top: 20px;
	align-content: center;
}
#logoYT{
	display: inline-block;
	height:50px;
	width:50px;
	background-image: url("/slike/yt.png");
	border-radius: 100px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.IG{
	height: 80px;
	width: 800px;
	background-color: #2e3334;
	border: 1px solid black;
	border-radius: 15px;
	margin: 0 auto;
	margin-top: 20px;
	align-content: center;
}
#logoIG{
	display: inline-block;
	height:30px;
	width:30px;
	background-image: url("/slike/insta.png");
	border-radius: 5px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin-left: 17px;
}

h1{
	text-align: center;
	color: white;
	font-size:50px;

}
