*{
	padding: 0;
	margin: 0;
	font-family: helvetica;
}
body{
	background-color: #181a1b;
}
a{
	color: inherit;
	text-decoration: none
}
.glava{
	height: 150px;
	background-color: #2e3334;
	width: 200px;
	border: 1px solid black;
	border-radius: 15px;
	margin: 0 auto;
	padding: 20px;
}
.LinkBlock{
	height: 80px;
	width: 800px;
	background-color: #2e3334;
	border: 1px solid black;
	border-radius: 15px;
	margin: 0 auto;
	margin-top: 20px;
	align-content: center;
	transition: box-shadow 0.4s ease, transform 0.4s ease;
}
.LinkBlock:hover  {
	box-shadow: 0 0 50px 1px #FF2AF8;
	transform: scale(1.1); /* zoom-in cover effect */
}
.txt{
	display: inline-block;
	height: 50px;
	width: 250px;
	align-content: center;
	margin-left: 230px;
	text-align: center;
	color: white;
	font-size: 25px;
	vertical-align: middle;
}

.logo{
	display: inline-block;
	border-radius: 5px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	vertical-align: middle;
	margin-left: 15px;
}
#logoGlava{
	height: 100px;
	width: 100px;
	border: 1px solid black;
	border-radius: 100px;
	margin: 0 auto;
	background-image: url("../slike/profilna.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-position: 0px 0px; 
	border: 3px solid black;
	box-shadow: 0 0 20px 0.2px #FF2AF8;
}
#logoGithub{
	height:30px;
	width:30px;
	background-image: url('/slike/Github.png');
	background-position: -12px 0px;
}
#logoX{
	height:30px;
	width:30px;
	background-image: url('slike/x.png');
}
#logoYT{
	height:45px;
	width:45px;
	margin-left: 5px;
	background-image: url("/slike/yt.png");
}
#logoIG{
	height:30px;
	width:30px;
	background-image: url("slike/insta.png");
}
h3{
	text-align: center;
	color: white;
	font-size: 24px;
}
h5{
	text-align: center;
	color: white;
	font-size: 15px;
}

h1{
	text-align: center;
	color: white;
	font-size:50px;

}
